.DS_Store/
assets/.DS_Store
.DS_Store
assets/lectures/.DS_Store
assets/.DS_Store
.DS_Store
assets/.DS_Store
assets/lectures/.DS_Store
assets/.DS_Store
.DS_Store
.DS_Store
assets/lectures/.DS_Store
assets/.DS_Store
